*.pid
____*
data/*
db/*
docs_and_pocs
git.pat
hmsrv.code-workspace
hmsrv.sublime*
js/____*
js/options.json
js/trial
launch.json
log/*
node_modules
package-lock.json
private*
regascripts/output/*
snippets/*
ssl
www/components