table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th, td {
  padding: 4px 8px;
  border-color: #ccc;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-style: solid;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

th {
  background-color: #efefef;
}

/*
 * Bootstrap overrides
 */

.navbar-default .navbar-development {
  color: #06799f;
  font-weight: bold;
}

.navbar-default .navbar-production {
  color: #a61a00;
  font-weight: bold;
}

.navbar-default .navbar-test {
  color: #007929;
  font-weight: bold;
}
button {
  padding: 8px;
}